.layout-dashboard {
    .expenses {
        .chart {
            width: 322px;
            height: 322px;
            line-height: 262px;
            font-size: 30px;
            margin: 0 auto;
            text-align: center;
            border: 30px solid #0f97c7;
            border-left-color: #1cb9d7;
            border-top-color: #0772b3;
            @include border-radius(50%);
        }

        .expenses-legend {
            margin: 2em;

            > div {
                text-align: center;
                padding: 1.5em 0;

                i {
                    display: block;
                    margin: 0 auto .5em 0;
                    font-size: 16px;
                }

                span {
                    color: $textSecondaryColor;
                }

                .expenses-title {
                    font-weight: 500;
                } 

                .expenses-price {
                    margin: .5em 0;
                    font-size: 14px;
                }

                .legend-status {
                    font-size: 12px;
                }

                &:nth-child(1) {
                    i {
                        color: #0f97c7;
                    }
                }

                &:nth-child(2) {
                    i {
                        color: #1cb9d7;
                    }
                }

                &:nth-child(3) {
                    i {
                        color: #0772b3;
                    }
                }
            }
        }

        .expenses-footer {
            text-align: right;
            
            a {
                color: #1cb9d7;
                font-weight: 500;
            }
        } 
    }

    .timeline {
        min-height: 494px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .timeline-event-title {
                vertical-align: middle;
                font-weight: 500;
            }

            .timeline-event-time {
                background-color:#ebebef;
                padding: .25em;
                vertical-align: middle;
                margin-left: 1em;
                display: inline-block;
                @include border-radius($borderRadius);
            }

            img {
                width: 100%;
            }

            li {
                border-bottom: 1px solid #ebebef;
                padding: 1em;

                i {
                    font-size: 24px;
                    margin-right: .25em;
                    vertical-align: middle;
                }

                &:nth-child(1) {
                    i {
                        color: #0f97c7;
                    }
                }

                &:nth-child(2) {
                    i {
                        color: #1cb9d7;
                    }
                }

                &:nth-child(3) {
                    i {
                        color: #f56f64;
                    }
                }

                &:nth-child(4) {
                    i {
                        color: #9643F9;
                    }
                }

                &:last-child {
                    border-bottom: 0 none;
                }
            }

            p {
                color: $textSecondaryColor;
                margin: .5em 0;
            }
        }
    }

    .tasks {
        min-height: 325px;

        p {
            color: $textSecondaryColor;
            margin: 1em 0;

            .task-highlight {
                color: #0f97c7;
            }
        }

        ul {
            padding: 0;
            margin: 1em 0 0 0;

            li {
                list-style: none;
                padding: .5em;
                @include clearfix();
            }

            .ui-chkbox {
                vertical-align: middle;
                margin-right: .5em;
            }

            span {
                vertical-align: middle;
            }

            .task-badge-open {
                color: #0f97c7;
                float: right;
                margin-top: .25em;
                font-weight: 500;
            }

            .task-badge-closed {
                color: #f56f64;
                float: right;
                margin-top: .25em;
                font-weight: 500;
            }
        }

        .ui-progressbar {
            height: 4px;
        }
    }

    .global-sales {
        
        .ui-datatable {
            th {
                border: 0 none;
                text-align: left;
            }

            tr {
                border: 0 none;

                td {
                    border: 0 none;
                }

                &.ui-state-highlight,
                &.ui-state-hover {
                    border: 0 none;
                }
            }

            .ui-paginator {
                border: 0 none;
            }
        }
    }

    .weather {
        padding: 0;
        color: $textSecondaryColor; 

        img {
            width: 100%;
        }

        .weather-content {
            padding: .5em 1em 1em 1em;
            position: relative;

            a {
                position: absolute;
                right: 1em;
                top: .5em;
                color: #1cb9d7;
            }
        }

        .weather-city {
            font-size: 14px;
            margin-bottom: .5em;
        } 

        .weather-status {
            font-size: 24px;
            margin-bottom: .5em;
        }
    }
}