.layout-rtl {
    .layout-right-panel {
        direction: rtl;
        right: auto;
        left: -288px;
        border-left: 0;
        border-right: solid 1px #ebebef;
        @include transition(left $transitionDuration);
    
        &.layout-right-panel-active {
            right: auto;
            left: 0;
        }
    
        .ui-tabview.ui-tabview-top {   
            .ui-tabview-nav {
                li {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .status-title {
            i {
                float: left;
            }
        }
    }
}