<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
<style>
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body{
        background-color: #F7F9F9;
        font-family: 'Roboto', sans-serif;
        font-weight: thin;
        font-size: 14px;
    }

    .header{
        width: 100%;
        max-width: 480px;
        background-color: #fff;
        max-height: 7vh;
        margin: auto;
        margin-top: 30px;
        border-bottom: 5px solid #5499C7;
        border-radius: 5px 5px 0px 0px;
    }

    .header h3{
        font-family: 'Orbitron', sans-serif;
        font-weight: 400;
        padding-top: 10px;
        padding-right: 20px;
        text-align: right;
        
    }

    .section{
        width: 100%;
        max-width: 480px;
        background-color: #fff;
        height: 20vh;
        margin: auto;
        padding: 0px !important;
    }
    .section .emisor{
        width: 100%;
        /* height: 10vh; */
        padding-top: 30px;
        background-color: #EBF5FB;   
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }

    .section .emisor > div{
        flex: 0 0 100%;
        text-align: center;
        line-height: 25px;
        font-size: 18px;
        color: #808B96;
        font-weight: 100;
    }

    .section .emisor div:nth-last-child(1){
        padding-bottom: 10px;
    }

    .section .emisor div:nth-child(1){
        font-weight: 400;
    }

    .section .emisor div:nth-child(4){
        padding:0px 20px;
    }

    .section .comp-electronico-header{
        width: 100%;
        /* height: 30vh; */
        padding-top: 30px;
        background-color: #fff;   
        display: flex;
        flex-flow: row wrap;
        align-content: center;   
        justify-content: center;
    }

    .section .comp-electronico-header > div{
        flex: 0 0 90%;
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        color: #808B96;
        font-weight: 300;
    }

    .section .comp-electronico-header div:nth-child(1){
        /* Nombre del receptor */
        line-height: 40px;
        font-weight: 300;
    }

    .section .comp-electronico-header div:nth-child(2){
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(128, 139, 150, 0.25);
        font-weight: 100;
    }

    .section .comp-electronico-header div:nth-child(3){
        padding:30px 0px;
        font-size: 20px;
        font-weight: 300;
        color: #2C3E50;
    }

    .section .comp-electronico-valor{
        width: 100%;
        background-color: #fff;   
        color: #808B96;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .section .comp-electronico-valor div:nth-child(1){
        background-color: #EBF5FB;   
        padding:20px 0px;
        text-align: center;
        font-size: 18px;
        flex: 0 0 100%;
    }

    .section .comp-electronico-valor div:nth-child(2){
        padding:30px 0px 10px 0px;
        text-align: center;
        font-size: 16px;
        flex: 0 0 100%;
        font-weight: 100;
    }

    .section .comp-electronico-valor div:nth-child(3){
        text-align: center;
        font-size: 30px;
        flex: 0 0 100%;
        font-weight: 100;
        color: #2C3E50;
        
    }
    .section .comp-electronico-valor div:nth-child(4){
        margin-top: 20px;
        flex:0 0 90%;
    }

    .section .comp-electronico-valor .divisor-1{
        background-color: #fff!important;
        border-top: 1px solid rgba(128, 139, 150, 0.25);
    }

    .section .contenido{
        width: 100%;
        background-color: #fff;   
        color: #808B96;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .section .contenido div:nth-child(1){
        padding:0px 20px;
        font-weight: 100;
        padding-bottom: 20px;
    }

    .section .footer{
        width: 100%;
        background-color: #EAEDED;   
        color: #5D6D7E;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 12px !important;
        padding: 10px;
        
    }

    .section .footer > div{
        flex: 0 0 100%;
        text-align: center;
        line-height: 18px;
        font-weight: 300;
    }

    .footer a {
        text-decoration: none;
        color: #5D6D7E;
    }

    .footer a:hover{
        color: #283747;
    }
</style>

<div class="header">
    <h3>mako&reg;</h3>
</div>
<div class="section">
    <div class="emisor">
        <div>$emisorRazonSocial</div>
        <div>$emisorNombreComercial</div>
        <div>RUC : $emisorRuc</div>
        <div>$emisorDireccion</div>
    </div>
    <div class="comp-electronico-header">
        <div>$receptorRazonSocial</div>
        <div>Ha recibido un comprobante Electr&oacute;nico :</div>
        <div class="num-comprobante">$receptorNumComprobante</div>
    </div>
    <div class="comp-electronico-valor">
        <div>FECHA : $compFecha</div>
        <div>Valor total del comprobante</div>
        <div>$ $compValor</div>
        <div>
            <div class="divisor-1"></div>
        </div>
    </div>
    <div class="contenido">
        <div>
            Favor no responder este correo, el mismo es generado automáticamente.<br/><br/>
            <span>Atentamente</span>.<br/><br/>
            <span>$emisorRazonSocial</span>
            
        </div>
    </div>
    <div class="footer">
        <div>Documento Electr&oacute;nico emitido por:  <span style="font-family: 'Orbitron', sans-serif;">mako&reg;</span></div>
        <div>Contacto: (+593) 02-3319 660 / 0985688861</div>
        <div>Email:<a href="mailto:cvillarreal@vicaworks.com">info@vicaworks.com</a></div>
        <div>power by vicaworks - derechos reservados $vcwAnio</div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>