<p>Esimados $cliente,</p>
<p>Adjuntamos la cotizaci&oacute;n Num. <strong>$numcotizacion</strong>, con un valor de <strong>$valor, </strong>si tiene alguna pregunta no dude en ponerce en contacto con nosotros.</p>
<p>&nbsp;</p>
<p>$firmaemail</p>
<p>&nbsp;</p>