.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1; }

.ui-chronoline-event-content,
.ui-chronoline-event-opposite {
  line-height: 1; }

@media screen and (max-width: 960px) {
  .customized-chronoline .ui-chronoline-event:nth-child(even) {
    flex-direction: row !important; }

  .customized-chronoline .ui-chronoline-event:nth-child(even) .ui-chronoline-event-content {
    text-align: left !important; }

  .customized-chronoline .ui-chronoline-event-opposite {
    flex: 0; }

  .customized-chronoline .ui-card {
    margin-top: 1rem; } }
.order-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px; }
  .order-badge.order-delivered {
    background: #C8E6C9;
    color: #256029; }
  .order-badge.order-cancelled {
    background: #FFCDD2;
    color: #C63737; }
  .order-badge.order-pending {
    background: #FEEDAF;
    color: #8A5340; }
  .order-badge.order-returned {
    background: #ECCFFF;
    color: #694382; }

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px; }
  .product-badge.status-instock {
    background: #C8E6C9;
    color: #256029; }
  .product-badge.status-outofstock {
    background: #FFCDD2;
    color: #C63737; }
  .product-badge.status-lowstock {
    background: #FEEDAF;
    color: #8A5340; }

.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px; }
  .customer-badge.status-qualified {
    background: #C8E6C9;
    color: #256029; }
  .customer-badge.status-unqualified {
    background: #FFCDD2;
    color: #C63737; }
  .customer-badge.status-negotiation {
    background: #FEEDAF;
    color: #8A5340; }
  .customer-badge.status-new {
    background: #B3E5FC;
    color: #23547B; }
  .customer-badge.status-renewal {
    background: #ECCFFF;
    color: #694382; }
  .customer-badge.status-proposal {
    background: #FFD8B2;
    color: #805B36; }

.filter-container .ui-inputtext {
  width: 400px; }

.ui-selection-column {
  width: 2rem; }

@media (max-width: 640px) {
  .filter-container {
    width: 100%;
    margin-top: .5rem; }

  .filter-container .ui-inputtext {
    width: 100%; }

  .ui-selection-column {
    width: auto;
    text-align: center; }
    .ui-selection-column .ui-column-title {
      display: none !important; } }
pre {
  font-family: monospace;
  background: #ebedef;
  color: #252529;
  padding: 1em;
  font-size: 14px;
  border-radius: 3px;
  overflow: auto;
  line-height: 1.5; }

.crud-demo .ui-datatable {
  margin-top: 1rem; }
.crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.crud-demo .ui-dialog .product-image {
  width: 250px;
  margin: 0 auto 2rem auto;
  display: block; }
.crud-demo .ui-dialog-footer .ui-button {
  min-width: 6rem; }
.crud-demo .ui-datatable .ui-column-filter {
  display: none; }
.crud-demo .products-table-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.crud-demo .edit-button.ui-button {
  margin-right: .5rem; }
.crud-demo .orders-subtable {
  padding: 1rem; }
.crud-demo .products-table > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) {
  width: 2rem; }
.crud-demo .products-table .ui-rating {
  display: inline-block; }

@media (max-width: 640px) {
  .products-table > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) .ui-column-title,
  .products-table > .ui-datatable-tablewrapper > table > tbody > tr > td:nth-child(2) .ui-column-title {
    display: none !important; }

  .products-buttonbar {
    -ms-flex-direction: column;
    flex-direction: column; }
    .products-buttonbar > div:last-child {
      margin-top: .5rem; } }
.docs li {
  line-height: 1.5; }

.elevation-demo .shadow-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.elevation-demo .box {
  min-height: 100px;
  min-width: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem;
  border-radius: 2px; }

.flexbox-demo .p-d-flex > div,
.flexbox-demo .box {
  background-color: var(--surface-e);
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); }
.flexbox-demo .p-d-flex > div {
  width: 8rem; }
.flexbox-demo .doc-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--surface-a); }
  .flexbox-demo .doc-table th {
    border-bottom: 1px solid var(--surface-d);
    padding: 1rem;
    text-align: left; }
  .flexbox-demo .doc-table tbody td {
    padding: 1rem;
    border-bottom: 1px solid var(--surface-d); }
.flexbox-demo .doc-tablewrapper {
  margin: 1rem 0;
  overflow: auto; }

.floatlabel-demo .p-field {
  margin-top: 2rem; }

.grid-demo .grid-item {
  text-align: center;
  border-radius: 4px;
  font-size: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .grid-demo .grid-item.grid-item-stretched {
    height: 100%;
    box-sizing: border-box; }
.grid-demo .vertical-container {
  margin: 0;
  height: 200px; }
.grid-demo .nested-grid .p-col-12 {
  padding-bottom: 0; }

.icons-demo .icons-list {
  text-align: center;
  color: #65686a; }
.icons-demo .icons-list i {
  font-size: 1.5rem;
  margin-bottom: .5rem; }

.list-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700; }
.list-demo .product-description {
  margin: 0 0 1rem 0; }
.list-demo .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem; }
.list-demo .product-category {
  font-weight: 600;
  vertical-align: middle; }
.list-demo .product-list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem; }
  .list-demo .product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem; }
  .list-demo .product-list-item .product-list-detail {
    flex: 1 1 0;
    -ms-flex: 1 1 0px; }
  .list-demo .product-list-item .ui-rating {
    margin: 0 0 .5rem 0; }
  .list-demo .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end; }
  .list-demo .product-list-item .product-list-action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
  .list-demo .product-list-item .ui-button {
    margin-bottom: .5rem; }
.list-demo .product-grid-item {
  border: 1px solid #ebedef; }
  .list-demo .product-grid-item .product-grid-item-top,
  .list-demo .product-grid-item .product-grid-item-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .list-demo .product-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0; }
  .list-demo .product-grid-item .product-grid-item-content {
    text-align: center; }
  .list-demo .product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600; }

@media screen and (max-width: 576px) {
  .list-demo .product-list-item {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
    .list-demo .product-list-item img {
      width: 75%;
      margin: 2rem 0; }
    .list-demo .product-list-item .product-list-detail {
      text-align: center; }
    .list-demo .product-list-item .product-price {
      align-self: center; }
    .list-demo .product-list-item .product-list-action {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column; }
    .list-demo .product-list-item .product-list-action {
      margin-top: 2rem;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; } }
.messages-demo .ui-button.ui-widget {
  min-width: 6rem; }
.messages-demo .p-field > label {
  width: 125px; }

.misc-demo .ui-button.ui-widget {
  min-width: 6rem; }
.misc-demo .badges .ui-badge,
.misc-demo .badges .ui-tag {
  margin-right: .5rem; }
.misc-demo .ui-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text); }
.misc-demo .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color); }
.misc-demo .custom-scrolltop:hover {
  background-color: var(--primary-color); }
.misc-demo .custom-scrolltop .ui-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text); }
.misc-demo .custom-skeleton {
  border: 1px solid var(--surface-d);
  border-radius: 4px; }
.misc-demo .custom-skeleton ul {
  list-style: none; }

.spacing-demo li {
  line-height: 1.5; }

.demo-container {
  border: 1px solid var(--surface-d); }

.vertical-container {
  margin: 0;
  height: 200px;
  background: var(--surface-d);
  border-radius: 4px; }

/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+bash+java&plugins=line-numbers */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
/*
Attention: This is not the original CSS downloaded from PrismJS! There are some PrimeFaces-specific modifications.
Some var(iable)-usages have been introduced to adapt color-scheme to dark PrimeFaces-themes like Vela and Arya.
*/
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: .5em 0;
  overflow: visible;
  padding: 0; }

pre[class*="language-"] > code {
  position: relative;
  border-left: 10px solid var(--surface-d) !important;
  /*box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;*/
  background-color: var(--surface-e) !important;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  color: var(--text-color); }

code[class*="language-"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto; }

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99; }

.token.punctuation {
  color: var(--text-color); }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a; }

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8; }

.token.regex,
.token.important {
  color: #e90; }

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.important {
  font-weight: normal; }

.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.namespace {
  opacity: .7; }

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none; } }
/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0; }

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em; }

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0; }

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0; }

pre[data-line] code {
  position: relative;
  padding-left: 4em; }

pre .line-highlight {
  margin-top: 0; }

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid var(--surface-d) !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: var(--text-color-secondary);
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.table-demo .ui-datatable .ui-column-filter {
  display: none; }
.table-demo .customers-table-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.table-demo .ui-progressbar-value.ui-widget-header {
  background: #607d8b; }

@media (max-width: 640px) {
  .table-demo .ui-progressbar {
    margin-top: .5rem; } }

/*# sourceMappingURL=demo.css.map */
