$primaryDarkestColor:#16246E;
$primaryDarkerColor:#20349E;
$primaryColor:#435AD8;
$primaryLighterColor:#6276E4;
$primaryLightestColor:#8394F2;
$primaryColorText:#ffffff;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';